<div th:fragment="navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light fw-bold" th:href="@{'/'}">Vehicle Dealership</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Posts</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-dark" th:href="@{'/search'}">View all Posts</a></li>
            <li><a class="dropdown-item text-dark" th:href="@{'/create-post'}">Create a Post</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Branches</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-dark" th:href="@{'/branches'}">View all Branches</a></li>
            <li><a class="dropdown-item text-dark" th:href="@{'/create-branch'}">Create a Branch</a></li>
          </ul>
        </li>
      </ul>


      <form class="d-flex nav-register-login">
        <button class="btn btn-primary" type="submit" style="margin-right: 1.5rem;">Register</button>
        <button class="btn btn-secondary" type="submit">Login</button>
      </form>

    </div>
  </div>
</nav>
</div>