nav{
    color: #0e1628;
}

nav .nav-search-form input button {

    font-weight: bold;
}


body .container-fluid{
    max-width: 90%;
    margin: 0 auto;
}


body .search-filter-container{


}

body .search-filter-container .filter-container{


}

body .search-filter-container .filter-container form {
    padding: 25px;

}


body .search-filter-container .search-form-not-found button {
    padding: .85rem;
    width: 160px;
    background-color: #0e1628;
    color:#fff;
    font-weight: bold;
}

body .search-filter-container .search-results-container {

}

body .search-filter-container .search-results-container .search-result-container {

    width: 100%;
}

body .search-results-container .search-result-container .post-card {
    display: flex;
    flex-direction: row;

}

body .search-results-container .search-result-container .post-card img {
    height: 175px;

}
body .search-results-container .search-result-container .post-card .card-body {

}


body .search-results-container .search-result-container .branch-card {
    display: flex;
    flex-direction: row;

}

body .search-results-container .search-result-container .branch-card img {
    height: 175px;

}
body .search-results-container .search-result-container .branch-card .card-body {

}


.hero-section {
    padding: 90px 0;
    text-align: center;
    background: linear-gradient(135deg, #3498db, #232aea);
}


.hero-section .search-form {
    height: 55px;

}

.hero-section .search-form input{
    font-size: 1.15rem;
}

.hero-section .search-form button {
    border:none;
    width: 190px;
    background-color: #0e1628;
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
}

.hero-title {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.hero-description {
    font-size: 24px;
    color: #d2d2d2;
    margin-bottom: 30px;
}

.create-branch-container,
.edit-post-container{

    max-width: 600px;
    margin: 4rem auto;
}

.create-branch-container form,
.edit-post-container form {
}

.create-branch-container button,
.edit-post-container button{
    width: 100%;
    padding: .85rem;
}