<!DOCTYPE html>
<html lang="en">
<div th:replace="fragment/head :: head"></div>
<body>

<div th:replace="fragment/navbar :: navbar"></div>

<div class="create-branch-container">
<h1 class="fw-bold">Create a Post</h1>
<form th:action="@{/create-listing}" method="post" th:object="${post}">
    <!-- Post Information -->
    <div class="mb-3">
        <label for="postTitle">Title:</label>
        <input type="text" class="form-control" id="postTitle" th:field="*{title}" name="title" required>
    </div>

    <div class="mb-3">
        <label for="postDescription">Description:</label>
        <textarea class="form-control" id="postDescription" th:field="*{description}" name="description" required></textarea>
    </div>

    <div class="mb-3">
        <label for="postPrice">Price:</label>
        <input type="number" class="form-control" id="postPrice" th:field="*{price}" name="price" required>
    </div>

    <!-- Vehicle Information -->
    <div class="mb-3">
        <label for="vehicleMake">Vehicle Make:</label>
        <input type="text" class="form-control" id="vehicleMake" th:field="*{vehicle.make}" name="vehicle.make" required>
    </div>

    <div class="mb-3">
        <label for="vehicleModel">Vehicle Model:</label>
        <input type="text" class="form-control" id="vehicleModel" th:field="*{vehicle.model}" name="vehicle.model" required>
    </div>

    <div class="mb-3">
        <label for="vehicleColor">Vehicle Color:</label>
        <input type="text" class="form-control" id="vehicleColor" th:field="*{vehicle.colour}" name="vehicle.colour" required>
    </div>

    <div class="mb-3">
        <label for="fuelType">Fuel Type:</label>
        <select class="form-select" name="fuelTypes" id="fuelType" required>
            <option selected disabled>Select a Fuel Type</option>
            <option th:each="fuelType : ${fuelTypes}" th:text="${fuelType}"/>
        </select>
    </div>

    <div class="mb-3">
        <label for="vehicleBodyType">Body Type:</label>
        <select class="form-select" name="vehicleBodyType" id="vehicleBodyType" required>
            <option selected>Select a Body Type</option>
            <option th:each="bodyType : ${bodyTypes}" th:text="${bodyType}"/>
        </select>
    </div>

    <div class="mb-3">
        <label for="vehicleCondition">Vehicle Condition:</label>
        <select class="form-select" name="vehicleCondition" id="vehicleCondition" required>
            <option selected disabled>Select a Vehicle Condition</option>
            <option th:each="vehicleCondition : ${vehicleConditions}" th:text="${vehicleCondition}"/>
        </select>
    </div>

    <div class="mb-3">
        <label for="vehicleYear">Vehicle Year:</label>
        <input type="number" class="form-control" id="vehicleYear" th:field="*{vehicle.year}" name="vehicle.year" required>
    </div>

    <div class="mb-3">
        <label for="vehicleMileage">Vehicle Mileage:</label>
        <input type="number" class="form-control" id="vehicleMileage" th:field="*{vehicle.mileage}" name="vehicle.mileage" required>
    </div>

    <div class="mb-3">
        <label for="branch">Branch :</label>
        <span>No branches available? <a th:href="@{'/create-branch'}">Create one</a></span>
        <select class="form-select" name="branch" id="branch" required>
            <option selected disabled>Select a Branch</option>
            <option th:each="branch : ${branches}" th:text="${branch.branchName}"/>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Create Listing</button>
</form>
</div>
</body>
</html>
