<!DOCTYPE html>
<html lang="en">
<div th:replace="fragment/head :: head"></div>
<body>

<div th:replace="fragment/navbar :: navbar"></div>
<br>
<div class="container" style="text-align: center">
    <form action="#" th:action="@{/ed}" th:object="${employee}" method="POST">
        <input type="hidden" th:field="*{id}"/>

        <h1>Update Employee Details</h1>
        <hr>
        <input type="hidden" th:field="*{id}"/>

        <div class="form-floating">
            <input type="text" placeholder="Name" th:field="*{name}" class="form-control mb-4 col-4" id="floatingInput1" style="margin: auto">
            <label for="floatingInput1">Name</label>
        </div>
        <div class="form-floating">
            <input type="password" placeholder="Password" th:field="*{password}"  class="form-control mb-4 col-4" id="password" style="margin: auto">
            <label for="password">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" placeholder="Confirm Password" th:field="*{password}" class="form-control mb-4 col-4" id="confirm_password" style="margin: auto">
            <label for="confirm_password">Confirm Password</label>
        </div>

        <input type="checkbox" onclick="showPassword()" onclick="validatePassword()"> Show Password
        <br>
        </br>
        <button type="button" onclick="showAlert()" th:href="@{/showFormForUpdate/{id}(id=${employee.id})}"class="btn btn-primary col-5">Update Details</button>
    </form>
    <hr>
</div>
</body>
</html>
<script>
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    }
    function showPassword(){
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        var x = document.getElementById("confirm_password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
    function showAlert(){
        var myText = "Details updated";
        alert(myText);
    }
</script>
