<!DOCTYPE html>
<html lang="en">
<div th:replace="fragment/head :: head"></div>
<body>
<div th:replace="fragment/navbar :: navbar"></div>

<div class="edit-post-container">
    <h1 class="fw-bold">Edit a Branch</h1>
    <form  th:action="@{/edit-branch}" method="post" th:object="${branch}">

        <div class="mb-3">
            <label for="branchName" class="form-label">Branch Name:</label>
            <input type="text" class="form-control" id="branchName" th:field="*{branchName}" name="branchName" required>
        </div>

        <div class="mb-3">
            <label for="yearOpened" class="form-label">Year Opened:</label>
            <input type="number" class="form-control" id="yearOpened" th:field="*{yearOpened}" name="yearOpened" required>
        </div>

        <div class="mb-3">
            <label for="streetNumber" class="form-label">Street Number</label>:</label>
            <input type="number" class="form-control" id="streetNumber" th:field="*{location.streetNumber}" name="streetNumber" required>
        </div>

        <!-- Additional User Details -->
        <div class="mb-3">
            <label for="streetName" class="form-label">Street name:</label>
            <input type="text" class="form-control" id="streetName" th:field="*{location.streetName}" name="streetName" required>
        </div>

        <div class="mb-3">
            <label for="city" class="form-label">City:</label>
            <input type="text" class="form-control" id="city" th:field="*{location.city}" name="city" required>
        </div>



        <div class="mb-3">
            <label for="postalCode" class="form-label">Postal Code:</label>
            <input type="number" class="form-control" id="postalCode" th:field="*{location.postalCode}" name="postalCode" required>
        </div>

        <div class="mb-3">
            <label for="province" class="form-label">Province:</label>
            <input type="text" class="form-control" id="province" th:field="*{location.province}" name="province" required>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Update</button>

    </form>
</div>


</body>
</html>