<!DOCTYPE html>
<html lang="en">
<div th:replace="fragment/head :: head"></div>
<body>

<div th:replace="fragment/navbar :: navbar"></div>

<div class="edit-post-container">

    <h1 class="fw-bold">Edit a Post</h1>
    <form  th:action="@{/edit-post}" method="post" th:object="${post}">

        <!--        <select name="branches">-->
        <!--            <option th:each="branch : ${branches}" th:text="${branch.branchName}"/>-->
        <!--        </select>-->

        <div class="mb-3">
            <label for="branchName" class="form-label">Title:</label>
            <input type="text" class="form-control" id="branchName" th:field="*{title}" name="branchName" required>
        </div>


        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>


</body>
</html>