<!DOCTYPE html>
<html lang="en">
<div th:replace="fragment/head :: head"></div>
<body>

<div th:replace="fragment/navbar :: navbar"></div>
<!-- Hero Section -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h1 class="hero-title">Find your dream vehicle</h1>
                <p class="hero-description">We offer a variety of pre-loved vehicles at affordable prices</p>
                <form class="d-flex search-form" th:action="@{/search}">
                    <input class="form-control me-2" type="search" name="title" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>



</body>
</html>


