<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Search</title>
</head>
<body>
<h1>Book Search</h1>
<!--<form method="post" th:action="@{/search}">-->
<!--  <input type="text" th:field="${query}" placeholder="Search..." />-->
<!--  <button type="submit">Search</button>-->
<!--</form>-->
<h2>Search Results:</h2>
<table>
    <thead>
    <tr>
        <th> Title</th>
        <th> Author</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="car : ${carsFound}">
        <td><span th:text="${car.name}"> Title </span></td>
        <td><span th:text="${car.getMake()}"> Author </span></td>
        <td><span th:text="${car.plates}"> Author </span></td>
    </tr>
    </tbody>
</table>
<h2 th:text="${carsFound}">

</h2>
</body>
</html>